<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Question Pine</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/chatroomstyles.css">
  <!-- <button type="button" class="mobile-nav-toggle d-lg-none">
    <i class="icofont-navigation-menu">

    </i></button> -->
  <nav class="navbar navbar-default">
    <div class="container-md">
      <div class="navbar-header">
        <p class="navbar-brand"><a href="/homepage">QUESTION PINE</a></p>
      </div>
        <ul class="nav navbar-nav navbar-default bold-nav">
          <!-- 6 -->
          <% if(user) { %>
              <li id="questions"><a href="/questions/<%= user.userName %>" >QUESTIONS</a></li>
          <% }else { %>
             <li id="questions"><a href="/signin" >QUESTIONS</a></li>
          <% } %>
          <li id="contact"><a href="/leaderboard">LEADERBOARD</a></li>
          <% if(user) { %>
              <li id="questions"><a href="/discussion/<%= user.userName %>" >DISCUSSION</a></li>
          <% }else { %>
             <li id="questions"><a href="/signin" >DISCUSSION</a></li>
          <% } %>
          <li id="about"><a href="/aboutus">ABOUT US</a></li>
        </ul>
        <form class="form-inline">
          <% if(user) { %>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a class="nav-link" href="/<%= user.userName %>/notifications">
                  <span class="badge badge-pill badge-primary" style="float:right;margin-bottom:10px;"><%= user.reqDiscussions.length %></span>
                    <span class="glyphicon glyphicon-bell"></span>
                </a>
              </li>
              <li>
              <div class="dropdown">
                <button class="dropbtn"><div class="avatar-prof">
                  <img src="https://img.icons8.com/bubbles/100/000000/user.png" alt="Avatar">
                </div>
                <p style="display:inline; font-size: large;"><strong><%= user.userName %></strong> </p>
              </button>
                <div class="dropdown-content">
                  <a href="/<%= user.userName %>"><span class="glyphicon glyphicon-user"></span><strong> My Profile</strong></a>
                  <a href="/signout"><span class="glyphicon glyphicon-off"></span><strong> Log Out</strong></a>
                </div>
              </div>

            <!-- </div> -->
            </li>
            </ul>
          <% } else { %>
            <ul class="nav navbar-nav navbar-right">
          <a href="/signup"><button class="btn btn-info btn-lg" type="button"><span class="glyphicon glyphicon-user"></span> Sign Up</button></a>
          <a href="/signin"><button class="btn btn-info btn-lg" type="button"><span class="glyphicon glyphicon-log-in"></span>  Sign In</button></a>
            </ul>
          <% } %>
        </form>
    </div>
  </nav>


  <body>
