<%- include("partials/header.ejs") -%>

<div class="container">
    <header class="jumbotron">
      <h3 class="about-section"><b>Discussion</b></h3>
      <div>
      <form action="/discussion" method="GET" class="form-inline">
        <div class="form-group">
          <input type="text" name="search" placeholder="Search a Group..." class="search-form-control">
          <input type="submit" value="search" class="btn btn-default btn-primary">
        </div>
      </form>
      <form action="/discussion/<%=user.userName%>/create" method="GET">
          <button type="submit" class="btn btn-primary" style="float: right;"><span class="glyphicon glyphicon-plus"></span> New Group</button>
      </form>
    </div>
    </header>
</div>
<div class="container">
    <div class="panel panel-default">
      <% for(let i=0;i<user.activeDiscussions.length;i++){ %>
        <div class="disgrow">
          <table class="table">
              <thead>
                <form  action="/discussion/<%= user.userName%>/<%= user.activeDiscussions[i] %>/addmembers" method="GET">
                  <div class="group-notification">
                    <%= user.activeDiscussions[i] %>
                      <input type="hidden" 
                      name="activeDiscussion" value="<%= user.activeDiscussions[i] %>"/>
                      <button  type="button" class="btn btn-danger">Open</button>
                          <button type="submit" class="btn btn-success">Add Members</button>    
                  </div>
                </form>
              </thead>
          </table>
        </div>
      <% } %>
    </div>
</div>


<%- include("partials/footer.ejs") -%>