<%- include("partials/header.ejs") -%>
<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->

      <div class="about-section"><h3><b>Leaderboard</b></h3></div>
      <table class="table">
        <thead>
          <th>Rank</th>
          <th>Username</th>
          <th>Score</th>
        </thead>
        <tbody>

          <%for(let i=0; i<users.length; i++){%>

            <tr>
              <td> <%= i+1 %> </td>
              <td><a href="/<%= users[i].userName %>"> <%=users[i].userName%></a></td>

              <td><%=users[i].solvedQuestions.length%></td>
            </tr>
          <%}%>


      </tbody>
      </table>



    </div>
</div>

<%- include("partials/footer.ejs") -%>
