<%- include("partials/header.ejs") -%>

<div class="container">
    <header class="jumbotron">
      <h3 class="about-section"><b>Notifications</b></h3>

    </header>
</div>
<div class="">
  <%console.log(requestedDiscussionArray)%>
  <%for(let i=0; i<requestedDiscussionArray.length; i++){%>

    <form class="" action="index.html" method="post">

      <p><%=requestedDiscussionArray[i].discussionName%></p>
      <p><%=requestedDiscussionArray[i].description%></p>
  <%  const activeMembers = requestedDiscussionArray[i].currentMembers;%>
  <%    for(let j=0; j<activeMembers.length; j++){%>

          <p><%=activeMembers[j]%></p>
  <%    }%>


    </form>
  <%}%>

</div>


<%- include("partials/footer.ejs") -%>
