<%- include("partials/header.ejs") -%>

  <div class="container">
    <a href="/profile/profileinfo"><button class="btn btn-info btn-lg" type="button">Edit Information</button></a>

     <h2 style="color:#1abc9c;"> <%= user.userName%>  </h2> 
     <h4> <%= user.firstName%> <%= user.lastName%> -- <%= user.email%> </h4>
     
     
  </div>

<%- include("partials/footer.ejs") -%>