<%- include("partials/header.ejs") -%>

  <div class="container">
    <br>
    <a href="/profile/editprofile"><button class="btn btn-info btn-lg" type="button">Edit Information</button></a>

     <h2 style="color:#1abc9c;"><em><%= user.userName%></em></h2> 
     <br>
     <h4><b>Name:</b> <%= user.firstName%> <%= user.lastName%></h4>
     <h4><b>Email:</b> <%= user.email%> </h4>
     <h4><b>Solved Question:</b> <%=user.solvedQuestions.length%></h4>
     
  </div>

<%- include("partials/footer.ejs") -%>