<%- include("partials/header.ejs") -%>
<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->




    <% for(let i=0; i<questionTypes.length; i++){ %>

      <div class="panel-heading"><%=questionTypes[i]%></div>
      <table class="table">
        <thead>
          <th>#</th>
          <th>Question</th>
          <th>Done</th>
        </thead>
        <tbody>
      <%for(let j=0, k=1; j<questionList.length; j++){%>

        <%if(questionList[j].quesType === questionTypes[i]){%>

          <%const exist = false;%>
          <%for(let k=0; k<solvedQuestions.length; k++){%>

            <%if(questionList[j]._id === solvedQuestions[k]){%>
              <%exist = true;%>
              <%break;%>
            <%}%>
          <%}%>

          <%if(exist){%>

            <tr>
              <td><%=k++%></td>
              <td>
                  <a href="<%= questionList[j].quesLink%>" target="_blank"><%=questionList[j].quesName%></a>
              </td>
              <td>
                <button type="button" name="button">Solved</button>
              </td>
            </tr>

          <%}else{%>
            <tr>
              <td><%=k++%></td>
              <td>
                  <a href="<%= questionList[j].quesLink%>" target="_blank"><%=questionList[j].quesName%></a>
              </td>
              <td>
                <button type="button" name="button">Mark Done</button>
              </td>
            </tr>
          <%}%>

        <%}%>
      <%}%>

      </tbody>
      </table>

    <%}%>


    </div>
</div>
<%- include("partials/footer.ejs") -%>
