<%- include("partials/header.ejs") -%>

<div class="container">
<header class="jumbotron">
  <h3 class="about-section"><b>Questions</b></h3>
      <form action="/questions/<%= user.userName %>" method="GET" class="form-inline">
        <div class="form-group">
          <input type="text" name="search" placeholder="Search a Question..." class="search-form-control">
          <input type="submit" value="search" class="btn btn-default btn-primary">
        </div>
      </form>
      <!-- <form action="#" method="GET">
        <button type="submit" class="btn btn-primary" style="float: right;"><span class="glyphicon glyphicon-plus"></span> Suggest Question</button>
    </form> -->
  </header>
</div>
<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->

    <%let solvedQuestionCounts = [];%>

    <%for(let i=0; i<questionTypes.length; i++){%>
    <%  let cnt=0;%>
    <%  for(let j=0; j<solvedQuestions.length; j++){%>
    <%      let type = "";%>
    <%   for(let k=0; k<questionList.length; k++){%>
    <%        if(questionList[k].quesName === solvedQuestions[j]){%>
    <%            type = questionList[k].quesType;%>
    <%            break;%>
    <%        }%>
    <%      }%>
    <%    if(type === questionTypes[i]){%>
    <%      cnt++;%>
    <%    }%>
    <%  }%>
    <%  solvedQuestionCounts.push(cnt);%>
    <%}%>

    <%let totalCount = [];%>

    <%for(let i=0; i<questionTypes.length; i++){%>
    <%  let tot=0;%>
    <%  for(let j=0; j<questionList.length; j++){%>
    <%    if(questionTypes[i] === questionList[j].quesType){%>
    <%      tot++;%>
    <%    }%>
    <%  }%>
    <%  totalCount.push(tot)%>
    <%}%>

    <% const flg=[questionTypes.length] %>
    <% for(let i=0; i<questionTypes.length; i++){ %>
          <% flg[i]=0; %>
      <% } %>
    <% for(let i=0; i<questionTypes.length; i++){ %>
      <%  let cnt=1; %>
      <%for(let j=0; j<questionList.length; j++){%>
        <%if(questionList[j].quesType === questionTypes[i]){%>
          <%  if(!flg[i]){ %>
          <div class="qtypes-section"><%=questionTypes[i]%> (<%=solvedQuestionCounts[i]%>/<%= totalCount[i] %>)</div>
          <table class="table">
            <thead>
              <th>#</th>
              <th>Questions</th>
              <th class="th-right">Done</th>
            </thead>
            <tbody>
              <% flg[i]=1; %>
            <%}%>
          <%let exist = 0;%>
          <%for(let k=0; k<solvedQuestions.length; k++){%>
            <%if(questionList[j].quesName === solvedQuestions[k]){%>
              <%exist = 1;%>
              <%break;%>
            <%}%>
          <%}%>
          <%if(exist === 1){%>
            <tr>
              <td><%= cnt++ %></td>
              <td>
                  <a href="<%= questionList[j].quesLink%>" target="_blank"><%=questionList[j].quesName%></a>
              </td>
              <form  action="/questions/<%= user.userName %>" method="post">
                <input type="hidden" name="questionName" value="<%= questionList[j].quesName %>">
                <input type="hidden" name="solvedStatus" value="done">
                <td class="th-right">
                  <button type="submit" name="button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Solved</button>
                </td>
              </form>
            </tr>
          <%}else{%>
            <tr>
              <td><%= cnt++ %></td>
              <td>
                  <a href="<%= questionList[j].quesLink%>" target="_blank"><%=questionList[j].quesName%></a>
              </td>
              <form  action="/questions/<%= user.userName %>" method="post">
                <input type="hidden" name="questionName" value="<%= questionList[j].quesName %>">
                <input type="hidden" name="solvedStatus" value="notDone">
                <td class="th-right">
                  <button type="submit" name="button" class="btn btn-primary">Mark as Done</button>
                </td>
              </form>
            </tr>
          <%}%>
        <%}%>
      <%}%>
      </tbody>
      </table>
    <%}%>
  </div>
</div>

<%- include("partials/footer.ejs") -%>
