<%- include("partials/header.ejs") -%>


<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->




    <% for(let i=0; i<questionTypes.length; i++){ %>

      <div class="panel-heading"><%=questionTypes[i]%></div>
      <table class="table">
        <thead>
          <th>#</th>
          <th>Questions</th>
          <th>Done</th>
        </thead>
        <tbody>
      <%for(let j=0; j<questionList.length; j++){%>

        <%if(questionList[j].quesType === questionTypes[i]){%>

          <%let exist = 0;%>

          <%for(let k=0; k<solvedQuestions.length; k++){%>

            <%if(questionList[j].quesName === solvedQuestions[k]){%>
              <%exist = 1;%>
              <%break;%>
            <%}%>
          <%}%>

          <%if(exist === 1){%>

            <tr>
              <td>1</td>
              <td>
                  <a href="<%= questionList[j].quesLink%>" target="_blank"><%=questionList[j].quesName%></a>
              </td>
              <form  action="/questions/<%= user.userName %>" method="post">
                <input type="hidden" name="questionName" value="<%= questionList[j].quesName %>">
                <input type="hidden" name="solvedStatus" value="done">
                <td>
                  <button type="submit" name="button" class="btn btn-success">Solved</button>
                </td>
              </form>
            </tr>

          <%}else{%>
            <tr>
              <td>1</td>
              <td>
                  <a href="<%= questionList[j].quesLink%>" target="_blank"><%=questionList[j].quesName%></a>
              </td>
              <form  action="/questions/<%= user.userName %>" method="post">
                <input type="hidden" name="questionName" value="<%= questionList[j].quesName %>">
                <input type="hidden" name="solvedStatus" value="notDone">
                <td>
                  <button type="submit" name="button" class="btn btn-primary">Mark as Done</button>
                </td>
              </form>

            </tr>
          <%}%>

        <%}%>
      <%}%>

      </tbody>
      </table>

    <%}%>


    </div>
</div>
<%- include("partials/footer.ejs") -%>
