<%- include("partials/header.ejs") -%>

<div class="container">
    <header class="jumbotron">
      <h3 class="about-section"><b>Discussion</b></h3>
      <div>
      <form action="/discussion" method="GET" class="form-inline">
        <div class="form-group">
          <input type="text" name="search" placeholder="Search a Group..." class="search-form-control">
          <input type="submit" value="search" class="btn btn-default btn-primary">
        </div>
      </form>
      <form action="/discussion/<%=user.userName%>/<%=discussionID%>/removeall" method="GET">
          <button type="submit" class="btn btn-danger" style="float: right;"><span class="glyphicon glyphicon-minus"></span> Remove All</button>
      </form>
    </div>
    </header>
</div>

<div class="container">
    <div class="panel panel-default">
      <!-- Default panel contents -->
        <table class="table">
          <thead>
            <th>Rank</th>
            <th>Username</th>
          </thead>
          <tbody>
            <% for(let i=1; i<activeMembers.length; i++){%>
              <tr>
                <form action="/discussion/<%=user.userName%>/<%= discussionID%>/remove" method="POST">
                  <td><%= i%></td>
                  <td><%= activeMembers[i]%></td>
                  <td>  
                        <input type="hidden" name="removedUser" value="<%= activeMembers[i]%>"/>
                        
                        <button type="submit" class="btn btn-danger">Remove</button>
                  </td>
                </form>
              </tr>
            <%}%>
        </tbody>
        </table>
      </div>
  </div>

<%- include("partials/footer.ejs") -%>
